<!DOCTYPE html>
    <html>
    <head>
        <title>Help</title>
        <link rel="icon" href="./img/weather_icon.png">
        <link href="./css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <p>This is your {{title}} page</p>
          </div>
         {{>footer}}
    </body>
    </html>
    